html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    left: 0;
    box-sizing: border-box;
    transition: 0.7s;
    font-family: 'Roboto', sans-serif;
}
.overlay{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu2{
    position: fixed;
    align-items: center;
    width: 100%;
    color: #fff;
    box-shadow: 5px;
    z-index: 1;
}
.link-menu{
    display: none;
}
.menu{
    display: none;
}
.scrolldown{
    position: absolute;
    top: 95%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.scrolldown span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
}
.menu2 ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    font-family: 'Open Sans', sans-serif;
}
.menu2 ul a{
    text-decoration: none;
    margin-right: 6rem;
}
.menu2 a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}
.menu2 a:hover:after {
    width: 100%;
    background: white;
}
.menu2 li{
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 0.5s;
}
.menu li:hover , .menu2 a:hover{
    background-size: 100% 5px, auto;
}
.menu2 p{
    color: white;
    margin-right: auto;
    font-size: 3.0rem;
    margin-left: 40px;
    font-family: "Handlee","cursive";
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.intro{
    background: url("afbeeldingen/achtergrond6.jpeg") no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
}
.profiel{
    z-index: 0;
    top: 60%;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    color: white;
    font-size: 3.0rem;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.profiel p{
    font-size: 6.0rem;
    animation: fadeIn 1s ease-in;
    white-space: nowrap;
}
.profiel span{
    font-size: 4.5rem;
    width: 0%;
    white-space: nowrap;
    letter-spacing: 6px;
    animation: fadeInSpan infinite;
    animation-duration: 5s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeInSpan {
    0% {
      opacity: 0;
    }
  
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.persoonlijke-gegevens{
    width: 50%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.persoonlijke-gegevens article, .persoonlijke-gegevens img{
    border-radius: 3px;
}
@keyframes persoonlijke-gegevens {
    0% {
      opacity: 0;
      left: -450px;
    } 
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  
  @-webkit-keyframes persoonlijke-gegevens {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
.persoonlijke-gegevens h1{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.733);
}
.persoonlijke-gegevens article{
    padding: 10px 12px;
    font-size: 1.3rem;
    text-align: center;
    max-width: 70%;
    margin-bottom: 30px;
}
h3{
    font-size: 2.0rem;
    text-align: left;
}
h2{
    text-align: center;
    font-size: 2.5rem;
}
#foto{
    margin-right: 80px;
}
.download2{
    display: none;
}
article a{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 12px;
    display: inline-block;
    margin: 25px 100px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid 1px black;
    background: linear-gradient(to right, white 50%, #252323 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}
article a:hover {
    background-position: left bottom;
    color: black;
}
article a:hover .download2 {
      display: unset;
}
article a:hover .download1{
    display: none;
}
.opleidingen-en-vaardigheden{
    background: url("afbeeldingen/achtergrond3.jpg") no-repeat fixed;
    background-position: center center;
    background-size: cover;
}
.opleidingen-en-vaardigheden{
    visibility: visible;
}
@keyframes inhoud{
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes inhoud{
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.opleidingen-en-vaardigheden h4{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding-top: 20px;
    
}
.vaardigheden, .vaardigheden2{
    background-color: rgba(0, 0, 0, 0.8);
}
.vaardigheden2{
    display: none;
}
.inhoud{
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.inhoud li{
    color: white;
    font-size: 1.5rem;
    padding: 10px 10px;
}
.C-sharp, .html-en-css, .javascript{
    text-align: center;
    margin-bottom: 40px;
}
.pijltjes{
    display: none;
}
.grote-logos{
    width: 128px;
    height: 128px;
}
.inhoud ul{
    text-align: left;
    margin-top: 30px;
}
h5{
    color: white;
    font-size: 2.0rem;
}
.opleidingen-inhoud h6{
    text-align: center;
    font-size: 2.5rem;

    color: black;
}
.opleidingen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opleidingen-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 8rem;
    row-gap: 5rem;
    justify-content: center;
}
@keyframes slideins{
    0%{
        opacity: 0;
        column-gap: 50rem;
    }
    100%{
        opacity: 1;
        column-gap: 8rem;
    }
}
.item{
    transition: all .3s ease-in-out;
    border-radius: 3px;
}
.item:hover{
    transform: scale(1.1);
}
.item, .laatste-item{
    box-shadow: 5px 10px 18px 5px #888888;
}
.item span, .laatste-item span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 8px;
}
.item h1, .laatste-item h1{
    font-size: 1.3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 3px 3px 0 0;
    padding: 5px 12px;
    margin-top: 0;
}
.item p, .laatste-item p{
    font-size: 1.3rem;
    display: inline-block;
}
.item h2, .laatste-item h2{
    font-weight: 1.3rem;
}
.footer-inhoud{
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
}
.footer-inhoud h1{
    
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
}
.footer-inhoud a{
    color: white;
}
.footer-inhoud{
    font-size: 1.3rem;
}
.footer{
    height: 12rem;
    margin-top: 50px;
}
.footer-inhoud h2{
    background: rgba(0, 0, 0, 0.404);
    font-size: 1.2rem;
    margin: 0;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}
.contact img{
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.email-gegevens:hover img, .telefoon-gegevens:hover img, .linkedin-gegevens:hover img{
    transform: rotate(-15deg);
}
.linkedin-gegevens{
    animation-name: contact-slide;
  -webkit-animation-name: contact-slide;
  animation-duration: 2.0s;
  -webkit-animation-duration: 2.0s;
  opacity: 1;
}
.telefoon-gegevens{
    animation-name: contact-slide;
  -webkit-animation-name: contact-slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  opacity: 1;
}
.email-gegevens{
    animation-name: contact-slide;
  -webkit-animation-name: contact-slide;
  animation-duration: 1.8s;
  -webkit-animation-duration: 1.8s;
  opacity: 1;
}
@keyframes contact-slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes contact-slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
.contact span{
    display: block;
}
.hamburger-menu{
    padding: 20px 15px;
}
.bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s ease;
}
.change .bar1{
    transform: rotate(-45deg) translate(-9px,6px);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-8px,-8px);
}
@media only screen and (max-width: 1000px) {
    .menu{
        display: block;
        z-index: 1;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
    }
    .link-menu{
        display: block;
        z-index: 1;
        top: 0;  
        left: 0;
        box-shadow: 4px 2px 8px 0px rgba(0,0,0,0.75);
        border: solid 1px;
        position: fixed;
        height: 100%;
        transition: 0.7s;
        overflow: scroll; 
        padding-top: 60px;
        transition: 0.7s;
        background-color: #111;
    }
    .link-menu.open{
        width: 35%;
        transition: 0.7;
    }
    .link-menu.close{
        width: 0%;
        transition: 0.7s;
    }
    .link-menu ul{
        list-style-type: none;
        height: 100%;
    }
    .link-menu a{
        display: block;
        padding: 20px;
        white-space: nowrap;
        color: white;
        border-bottom: 3px;
        font-size: 25px;
    }
    .link-menu nav{
        height: 100%;
    }
    .link-menu nav a{
        text-decoration: none;
    }
    .fa-times{
        color: white;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 22px;
        margin-left: 50px;
    }
    i.fas{
        color: white;
        font-size: 40px;
        margin-left: 15px;
    }
    .menu2{
        display: none;
    }
    .menu li:hover{
        transform-origin: left;
        transform: none;
        color: rgba(255, 0, 0, 0.938);
        cursor: pointer;
    }
    .menu a{
        text-decoration: none;
    }
    .intro{
        background-attachment: unset;
    }
    .profiel{
        top: 55%;
    }
    .scrolldown span{
        width: 40px;
        height: 40px;
    }
    .icons{
        float: left;
        margin-right: 30px;
    }
    .profiel p{
        font-size: 3rem;
    }
    .profiel span{
        font-size: 2rem;
    }
    .persoonlijke-gegevens{
        width: 100%;
        margin: 30px auto;
        display: block;
        text-align: center;
    }
    .persoonlijke-gegevens h1{
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.733);
    }
    .persoonlijke-gegevens h3{
        text-align: center;
    }
    .persoonlijke-gegevens article{
        padding: 10px 12px;
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .persoonlijke-gegevens article img{
        margin-left: 5px;
    }
    #foto{
        max-width: 60%;
        margin-right: 0;
    }
    article a{
        font-size: 1.3rem;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.733);
        padding: 10px 12px;
        position: unset;
        text-align: center;
        margin: 15px 0;
        text-decoration: none;
        color: white;
    }
    .opleidingen{
        display: block;   
    }
    .opleidingen-grid{
        display: block;
        width: 100%;
    }
    .item, .laatste-item{
        box-shadow: 5px 10px 18px 5px #888888;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 5px;
    }
    .item span, .laatste-item span{
        margin-right: 10px;
        font-weight: bold;
        font-size: 1.4rem;
        margin-left: 8px;
    }
    .item h1, .laatste-item h1{
        font-size: 1.3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.822);
        padding: 5px 12px;
        margin-top: 0;
    }
    .item p, .laatste-item p{
        font-size: 1.3rem;
        display: inline-block;
    }
    .item h2, .laatste-item h2{
        font-weight: 1.3rem;
    }

    .opleidingen-en-vaardigheden{
        background: url("afbeeldingen/achtergrond2.jpg") no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .opleidingen-en-vaardigheden h4{
        margin: auto;
        font-size: 2.0rem;
        color: white;
        text-transform: uppercase;
    }
    .footer-inhoud h1{
        font-size: 2.0rem;
    }
    .opleidingen h6{
        font-size: 2.0rem;
    }
    .vaardigheden{
        display: none;
    }
    .inhoud{
        display: none;
    }
    .vaardigheden2{
        display: block;
        height: 38rem;
    }
    .inhoud2{
        height: 100%;
        display: block;
        text-align: center;
    }
    .bolletjes{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }
    .bol{
        border: solid 3px white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-top: 20px;
    }
    .actiefbolletje{
        background-color: white;
    }
    .inhoud2 li{
        text-align: center;
        color: white;
        font-size: 1.5rem;
        padding: 5px;
    }
    .C-sharp, .html-en-css, .javascript, .slider{
        text-align: center;
        width: 100%;
    }
    .grote-logos{
        width: 90px;
        height: 90px;
    }
    .pijltjes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }
    .inhoud2 ul{
        text-align: center;
        padding: 0;
    }
    .profiel{
        font-size: 1.2rem;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
    }
    .inhoud{
        width: 100%;
        height: 25rem;
    }
    .html-en-css, .C-sharp, .javascript{
        height: 22rem;
    }
    .inhoud input{
        top: -5px;
        width: 20px;
        height: 20px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .actief , .html-en-css, .C-sharp, .javascript{
        animation: 0.75s leftFadeIn ease;
        position: relative;
        left: 0;
    }
    .inhoud input:checked{
        background: rgba(0, 0, 0, 0.8);
    }
    @keyframes leftFadeIn {
        from{
            opacity: 0;
            left: -80px;
        }
        to{
            opacity: 1;
            left: 0px;
        }
    }
}
@media screen and (max-width: 1430px){
    .menu2 p{
        display: none;
    }
    .scrolldown span{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 375px){
    .item{
        text-align: center;
    }
    .item p{
        margin-right: 5px;
    }
    .icons{
        width: 18px;
    }
}
@media screen and (max-width: 425px) {
    .active .menu{
        width: 100%;
    }
    .link-menu li{
        margin-top: 15px;
        font-size: 16px;
    }
    .icons{
        text-align: center;
        float: none;
        margin-top: 15px;
        margin-right: 0;
    }
    .link-menu a{
        border-bottom: solid rgb(32, 32, 32) 1px;
        padding: 10px;
        text-align: center;
    }
    .link-menu ul {
        list-style-type: none;
        display: contents;
    }
    .link-menu nav{
        margin-top: 15px;
    }
    .inhoud li{
        display: block;
    }
    .inhoud2 li{
        font-size: 1.3rem;
    }
    .menu ul li{
        text-align: center;
    }
    #foto{
        width: 40%;
    }
    .profiel{
        top: 65%;
    }
    .profiel p{
        font-size: 1.7rem;
    }
    .profiel span{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .persoonlijke-gegevens article{
        font-size: 0.9rem;
    }
    .contact img{
        margin-top: 20px;
    }
    .pijl{
        display: inline-block;
    }
    .scrolldown{
        display: none;
    }
    .inhoud2{
        width: 100%;
        height: 25rem;
    }
    .slider{
        height: 18rem;
    }
    .actief .slider{
        animation: 0.75s leftFadeIn ease; 
        position: relative;
        left: 0;
    }
    .item p {
        font-size: 1.2rem;
        display: block;
        margin-left: 5px;
        padding: 0 0 8px;
    }
    @keyframes leftFadeIn {
        from{
            opacity: 0;
            left: -80px;
        }
        to{
            opacity: 1;
            left: 0px;
        }
    }
    .contact{
        display: block;
    }
    .contact span{
        display: inline-block;
    }
}
@media screen and (min-width: 300px) and (max-width: 1380px){
    .item:hover{
        transform: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1130px){
    .item{
        margin-bottom: 30px;
    }
    .opleidingen-grid{
        column-gap: 2.0rem;
    }
    .menu2 ul li{
        font-size: 1.1rem;
        font-weight: bold;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1920px) { 
    .persoonlijke-gegevens{
        width: unset;
    }
    .scrolldown{
        top: 93%;
    }
    .scrolldown span{
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 1050px) and (max-width: 1500px){
    .menu2 li{
        font-size: 1.3rem;
    }
    .menu2 ul{
        justify-content: space-evenly;
    }
    .persoonlijke-gegevens{
        margin: 100px;
    }

}
@media screen and (min-width: 1000px) and (max-width: 1200px) { 
    .persoonlijke-gegevens{
        width: unset;
        display: block;
        margin: 50px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 1200px){
    .inhoud li{
        font-size: 1.2rem;
    }
    .persoonlijke-gegevens article{
        max-width: unset;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .profiel p{
        font-size: 3.5rem;
    }
    .profiel span{
        font-size: 2.3rem;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1500px){
    .profiel p{
        font-size: 4.5rem;
    }
    .profiel span{
        font-size: 3.3rem;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1900px){
    .profiel p{
        font-size: 5.2rem;
    }
    .profiel span{
        font-size: 4.0rem;
    }
}


